// Spacing/Unit Variables and Objects

$default-space: 100px;
$default-breakpoint: 600px;

$units: (
	"padding": (
		"default": (
			"media-query-max": $default-breakpoint, 
			"unit--media-query-max": $default-space / 2, 
			"media-query-min": $default-breakpoint + 1,
			"unit--media-query-min": $default-space,
			"unit": $default-space,
			"variations": (
				"base": true,
				"top": true,
				"right": true,
				"bottom": true,
				"left": true
			)
		),
		"two-times": (
			"media-query-max": $default-breakpoint, 
			"unit--media-query-max": $default-space, 
			"media-query-min": $default-breakpoint + 1,
			"unit--media-query-min": $default-space * 2,
			"unit": $default-space * 2,
			"variations": (
				"base": true,
				"top": true,
				"right": true,
				"bottom": true,
				"left": true
			)
		),
	)
);

